html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App {
  width: 1080px;
  max-width: 100%;
  margin: 50px auto;
  background-color: #fff;

  .container {
    padding: 0 40px;
  }
}

.title-section {
  font-size: 32px;
  line-height: 39px;
  font-weight: 700;
  margin-bottom: 40px;
}

